@import './variables.scss';

/*---------------------- GOOGLE fonts ----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/*---------------------- FONTawesome ----------------------*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

// ---------------------- RESET ----------------------/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

// ---------------------- COMMON ----------------------/
body {
    font-family: 'Lato', sans-serif;
}
header {
    background-color: $mainColor;
}
main section {
    padding: 120px 0;
}
.container {
    max-width: $sizeContainer;
    margin: 0 auto;
    background-color: rgba(141, 47, 47, 0.219);
    height: 100%;
}
.centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerColumnBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.bgColor {
    background-color: $bgColor;
}

// ---------------------- buttons style ----------------------/
.btnStyle {
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}
.paddingBtn {
    padding: 15px 30px;
    font-weight: 900;
}
.blackBtn {
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.3s;

    &:hover {
        transition: 0.3s;
        background-color: rgb(73, 73, 73);
        border: 1px solid rgb(73, 73, 73);
        // border: 1px solid rgb(35, 64, 82);
        color: white;
    }
}
.colorBtn {
    background-color: $mainColor;
    color: white;
    border: 1px solid $mainColor;
    transition: 0.3s;

    &:hover {
        transition: 0.3s;
        background-color: rgb(0, 113, 128);
        border: 1px solid rgb(0, 113, 128);
        color: white;
    }
}

// ---------------------- MAIN h5 ----------------------/
.h5style {
    font-weight: 900;
    letter-spacing: 4px;
}

// ---------------------- Hr style ----------------------/
.HRstyle {
    border-color: rgb(255, 123, 0);
    width: 80px;
    height: 1px;
}


